html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}

h1 {
  font-weight: 900;
}

h4 {
  font-size: 1em;
  margin-bottom: 0;
}

main {
  min-height: calc(100% - 80px);
  padding: 40px 0;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -80px;
}

main, footer {
  max-width: 24em;
  margin: 0 auto;
}

footer, .push {
  height: 80px;
}

main ul {
  margin: 1em 0;
}

a {
  background: darkslateblue;
  color: white;
  padding: 0.5em 1em;
  border-radius: 6px;
  display: block;
  margin: 10px 0;
  font-weight: 500;
  transition: all 200ms ease;
}

a:hover {
  background: slateblue;
}

a:active {
  background: indigo;
}

a:focus-visible {
  outline: 4px solid rgba(0, 100, 200, 0.5)
}

a.restart {
  background: slategray;
  margin: 0;
}

blockquote {
  border-left: 2px solid goldenrod;
  background: lightgoldenrodyellow;
  padding: 10px 1em;
  font-size: 1.125em;
}

.debug {
  border: 1px solid #eee;
  background: #f2f2f2;
  padding: 20px;
  font-size: 80%;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

.large {
  font-size: 200%;
  display: inline-block;
  background: lightgoldenrodyellow;
  border: 1px solid goldenrod;
  padding: 10px 1em;
  border-radius: 10px;
  margin-bottom: 5px;
}