html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header, main, footer {
  max-width: 24em;
  margin: 0 auto;
}