/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: #2b6982;
    color: white;
}

h1,h2,h3,h4,h5,h6{
   color: white; 
}

.tagline{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

blockquote{
    margin: 0;
    font-size: 120%;
    line-height: 1.4;
}

@media only screen and (min-width: 48em) {
    blockquote{ margin: 0 9rem;}
}


@media only screen and (min-width: 60em) {
    blockquote{ margin: 0 14rem;}
}

a{
    color: #73e5e0;
}

a:hover{
    color: #60ccc7;
}

nav {
    background-color: rgba(20,20,20,0.5);
    padding: 0.5rem 0;
    font-size: 85%;
    color: #999;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.Poli-contact h3{margin: 0;}

.ProfileAvatar-image {
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 200px;
    border: 10px solid white;
    margin-top: 2em;
}


.ProfileAvatar-image.ProfileSm{
    border: 5px solid white;
    margin: 10px 0;
    width: 100%; 
}

header, section{
    padding: 4rem 0;
    border-bottom: 1px solid #D2D8DB;
}
@media only screen and (min-width: 48em) {
    header, section{
        padding: 6rem 0;
    }
}

twitterwidget {
    margin: 10px 0 20px 0 !important;
}

.tweet-right twitterwidget{
    float: right !important;
}

.tb-tweet{
    margin: 3em 0 0 0;
}

.tweet{
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #e1e8ed;
    padding: 11.6px 20px;
    color: #292f33;
    margin: 10px 0 20px 0;
}

.tweet p{
    padding: 0;
    margin: 0;
}

.tweet a{
    font-weight: normal;
    color: #199191;
}

.tweet a:hover{
    color: #60ccc7;
}

.poli-tweet{
    background: url(../img/point-down.svg) 20px bottom  no-repeat;
    background-size: 92px 1rem;
}

@media only screen and (min-width: 48em) {
    twitterwidget {
        margin: 0 0 20px 0 !important;
    }
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-right{
    text-align: right;
}

.keyword-matches{ margin: 5px 0 0 0; }
.keyword-matches a{ font-weight: normal; }

.fact-matches, .keyword-matches{
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    padding: 11.6px 20px;
}

.fact-matches ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
}

.fact-matches{
    font-size: 0.7777777em;
    margin: 5px 0 0 0;
}

.fact-matches a{
    padding: 0 0 10px 0;
    margin: 0;
    font-weight: normal;   
    width: 100%;
    display: inline-block;
    line-height: 1.2;
}

.fact-matches label, .keyword-matches label{
    letter-spacing: 0.065em;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
}

/* FOOTER */
footer{
    padding: 1rem 0;
}

@media only screen and (min-width: 48em) {
    .fact-matches{
        font-size: 1em;
    }
    footer{
        padding: 2rem 0;
    }
}
footer a.team{
    font-size: 0.75em;
    display: block;
}

footer img{
    display: block;
    width: 48px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #999;
    margin: 0 auto;
    
}

@media only screen and (min-width: 48em) {
    footer a.team{
        font-size: 0.875em;
         margin: 0.5em 0 4em 0;
    }
    footer img{
        display: inline-block;
        width: 32px;
    }
}




/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */



ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
}

.slot {
    float: left;
}


/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 680px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    margin: 50px 0;
/*    outline: 1px solid red;*/
}

.fancy .slot li {
    width: 100%;
    height: 680px;
    font-weight: bold;
    color: #fff;
}


@media only screen and (min-width: 36em) {
    .fancy .jSlots-wrapper {
        height: 600px;
    }
    .fancy .slot li {
        height: 600px;
    }

}

@media only screen and (min-width: 48em) {
    .fancy .jSlots-wrapper {
        height: 300px;
    }
    .fancy .slot li {
        height: 300px;
    }

}

.fancy .slot li .tweet{
    font-weight: normal;
}

.fancy .slot:first-child li {
    border-left: none;
}

.fancy .slot li .ProfileAvatar-image{
    margin-top: 0;
    width: 200px;
}

.fancy .slot li span {
    display: block;
}

.fancy input[type="button"]{
    transition: all 100ms ease;
    padding: 10px 50px;
    border-radius: 100em;
    font-size: 2em;
    display: block;
    margin: 0 auto;
    font-weight: 700;
    background-color: #56b9b4;
    color: #fff;
    border-color: #8fd8d1;
}

.fancy input[type="button"]:hover,
.fancy input[type="button"]:focus{
    background-color: #4fafa8;
    border-color: #9fddd5;
}

.fancy input[type="button"]:active{
    border-left-color: #56b9b4;
    border-top-color: #56b9b4;
    border-right-color: #7cc1b7;
    border-bottom-color: #7cc1b7;
    color: rgba(255,255,255,0.65);
}

/* ---------------------------------------------------------------------
   ANIMATIONS
--------------------------------------------------------------------- */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
