.wrap{
	max-width: 44em;
}

body, html, h3, h4, h5, h6{
	font-family: 'Libre Baskerville', serif;
}

h1, h2, h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 1;
	letter-spacing: -0.05rem;
}

h1{ font-size: 4rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.85rem; }
h4{ font-size: 1.5rem; }

/*.row{ outline: 1px solid red; }
.row > *{ outline: 1px solid blue; }*/

blockquote{ 
	font-style: oblique; 
	font-size: 1.5rem; 
	line-height: 1.4; 
}

section{ padding: 10rem 0; border-bottom: 1px solid grey; }
