/* CSS Animations */



/* Layout styling */


.wrap{
	max-width: 44em;
}

body, html, h3, h4, h5, h6{
	font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 1;
	letter-spacing: -0.05rem;
}

h1{ font-size: 3.5rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.85rem; }
h4{ font-size: 1.5rem; }
h5{ font-size: 1rem; text-transform: uppercase; letter-spacing: 0.1rem; }

@media only screen and (min-width: 48em) {
	h1{ font-size: 4rem; }
}


/*.row{ outline: 1px solid red; }
.row > *{ outline: 1px solid blue; }*/

.header h1 {margin-bottom: 0;}
.header h2 {margin-top: 0;}

address a img{ 
	margin-top: 5px;
	width: 48px; 
	max-width: 15%; 
	opacity: 0.5;
	-webkit-transition: all 200ms; /* Safari */
	transition: all 200ms;
}

address a:hover img,
address a:active img
address a:focus img{opacity: 1; }

@media only screen and (min-width: 48em) {
	address a img{ width: 32px; height: 48px; 	margin-top: 0px;
}
	address a:hover img, address a:active img, address a:focus img{ width: 44px; } 
}

blockquote{ 
	font-style: oblique; 
	font-size: 1.125rem; 
	line-height: 1.4; 
	margin: 0 0.75rem;
}

@media only screen and (min-width: 48em) {
	blockquote{  font-size: 1.5rem; margin: 0 3rem;}
}

section{ padding: 5rem 0; border-bottom: 1px solid grey; }

@media only screen and (min-width: 48em) {
	section{ padding: 10rem 0; }
}

.time-node{ margin: 1rem 0; background-color: white; padding: 1rem 1.5rem; }
.time-node h4{ margin: 0.25rem 0 0 0; }
.time-node h5{ margin: 0.25rem 0 0 0; text-transform: uppercase; letter-spacing: 0.1rem; }
.time-node time{ font-style: oblique; }

@media only screen and (min-width: 48em) {
	.time-node{ margin: 0; }
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



